flows_iot-01.prv.json
[{"id":"ded1661b.df88e8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"4fe47369.bd78fc","type":"tab","label":"Flow 2","disabled":true,"info":""},{"id":"369b691a.2b3ae6","type":"tab","label":"IoTGW","disabled":false,"info":""},{"id":"1e8fe20d.d0653e","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"83744a98.431d18","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"cdf1440f.629f38","type":"tab","label":"Flow 5","disabled":false,"info":""},{"id":"bbbd12e1.85fa4","type":"mqtt-broker","z":"","name":"Test-mosquitto","broker":"localhost","port":"8080","clientid":"c512a811-9fce-4090-b45e-b13518a892da","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"1","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"b45cf1b9.b90d1","type":"mqtt-broker","z":"","name":"localhost","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"adb74abd.f99848","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"iot01","tz":""},{"id":"89bfed91.7a0a9","type":"websocket-listener","z":"","path":"/iot01/http1","wholemsg":"false"},{"id":"f896c902.c777c8","type":"websocket-listener","z":"","path":"/ws/iotgw/device_id","wholemsg":"false"},{"id":"d07f1ac.46e09e8","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"c4b10e90.f186","type":"ui_group","z":"","name":"Default","tab":"d07f1ac.46e09e8","disp":true,"width":"6","collapse":false},{"id":"892d6c18.92f36","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"e6a4b975.f4a448","type":"thinger-server","z":"","host":"192.168.0.221","name":"thingerio","ssl":true,"token":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJqdGkiOiIxMjM0NTY3ODkiLCJ1c3IiOiJpb3RmdXR1cmEifQ.PPHfTsu7lUiEREx8kLXUqvMrBrFpNwhJgqexD2XlpBc"},{"id":"f9c6b891.49f598","type":"mosca in","z":"ded1661b.df88e8","mqtt_port":1883,"mqtt_ws_port":8080,"name":"Local MQTT","username":"","password":"","dburl":"","x":150,"y":180,"wires":[[]],"outputLabels":["Mqtt_out"]},{"id":"855eac1c.04843","type":"mqtt in","z":"ded1661b.df88e8","name":"/winclient/data1","topic":"/winclient/data1","qos":"1","broker":"b45cf1b9.b90d1","x":140,"y":80,"wires":[["7787c91c.f0f1f8"]]},{"id":"367395f8.11ae4a","type":"debug","z":"ded1661b.df88e8","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"true","x":670,"y":260,"wires":[]},{"id":"1093a1b.009855e","type":"mqtt in","z":"ded1661b.df88e8","name":"/esp32-01/data1","topic":"/esp32-01/data1","qos":"1","broker":"b45cf1b9.b90d1","x":160,"y":260,"wires":[["64f87b80.da3784"]],"outputLabels":["data"]},{"id":"7787c91c.f0f1f8","type":"wiotp out","z":"ded1661b.df88e8","authType":"d","qs":"true","qsDeviceId":"iofutura-nodered-01","deviceKey":"","deviceType":"","deviceId":"","event":"event","format":"json","qos":"","name":"watson-iot-01","x":440,"y":60,"wires":[]},{"id":"bf83aabe.2f08f8","type":"inject","z":"ded1661b.df88e8","name":"iotclock","topic":"/iotclock/data1","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"1","x":160,"y":360,"wires":[["780c3dac.cf0ac4"]],"outputLabels":["iotclock"]},{"id":"780c3dac.cf0ac4","type":"mqtt out","z":"ded1661b.df88e8","name":"iotclock","topic":"/iotclock/data1","qos":"1","retain":"false","broker":"b45cf1b9.b90d1","x":350,"y":360,"wires":[]},{"id":"68b0a687.5fd088","type":"mysql","z":"ded1661b.df88e8","mydb":"adb74abd.f99848","name":"To Mysql","x":540,"y":340,"wires":[["367395f8.11ae4a"]],"inputLabels":["query"]},{"id":"64f87b80.da3784","type":"function","z":"ded1661b.df88e8","name":"Query","func":"msg.topic=\"insert into iot01\"+\n\"(timestamp, device, data)\" +\n\"values ('\" + msg.payload.iotclock +\n\"','iot01','\" + msg.payload.data+ \"');\"\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":260,"wires":[["68b0a687.5fd088","367395f8.11ae4a"]],"outputLabels":["query"]},{"id":"74a856cb.322828","type":"websocket in","z":"4fe47369.bd78fc","name":"/iot01/http1","server":"89bfed91.7a0a9","client":"","x":180,"y":200,"wires":[["8cd8b1a8.9258c","bfcc884d.f7cb68"]]},{"id":"8cd8b1a8.9258c","type":"websocket out","z":"4fe47369.bd78fc","name":"","server":"89bfed91.7a0a9","client":"","x":460,"y":200,"wires":[]},{"id":"bfcc884d.f7cb68","type":"debug","z":"4fe47369.bd78fc","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":450,"y":280,"wires":[]},{"id":"b287bee2.e76ed","type":"json","z":"369b691a.2b3ae6","name":"jsonParser","property":"payload","action":"","pretty":false,"x":130,"y":200,"wires":[["a5ba34b2.e82428","e8a069d9.992ed8"]]},{"id":"59f2fbd8.ab09f4","type":"switch","z":"369b691a.2b3ae6","name":"msgType","property":"msg.payload.type","propertyType":"jsonata","rules":[{"t":"eq","v":"sys","vt":"str"},{"t":"eq","v":"data","vt":"str"},{"t":"eq","v":"service","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":4,"x":120,"y":360,"wires":[["6ea788c0.50d498"],["b0049083.adb69"],["7ed837a2.51c3f8"],[]],"outputLabels":["sys","data","service","error"]},{"id":"6ea788c0.50d498","type":"switch","z":"369b691a.2b3ae6","name":"SYS","property":"payload.cmd","propertyType":"msg","rules":[{"t":"eq","v":"registerDevice","vt":"str"},{"t":"eq","v":"getTime","vt":"str"},{"t":"eq","v":"setAlarm","vt":"str"},{"t":"eq","v":"sendError","vt":"str"},{"t":"eq","v":"sendSecurity","vt":"str"},{"t":"eq","v":"sendStatus","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":7,"x":310,"y":240,"wires":[["8255c636.3682d8"],["75fdb350.300b1c"],[],["14091040.4f085"],["14091040.4f085"],["e3167056.4a00e"],["2c1b0953.74fb66"]],"outputLabels":["registerDevice","getTime","setAlarm","sendError","sendSecurity","sendStatus","error"]},{"id":"b0049083.adb69","type":"switch","z":"369b691a.2b3ae6","name":"DATA","property":"payload.cmd","propertyType":"msg","rules":[{"t":"eq","v":"put","vt":"str"},{"t":"eq","v":"get","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":3,"x":310,"y":340,"wires":[[],[],[]],"outputLabels":["put","get","error"]},{"id":"7ed837a2.51c3f8","type":"switch","z":"369b691a.2b3ae6","name":"SERVICE","property":"payload.cmd","propertyType":"msg","rules":[{"t":"eq","v":"registerService","vt":"str"},{"t":"eq","v":"listDevices","vt":"str"},{"t":"eq","v":"listDevicesByType","vt":"str"},{"t":"eq","v":"listDeviceServices","vt":"str"},{"t":"eq","v":"subscribeService","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":6,"x":320,"y":420,"wires":[["d1f8dc77.3bf27"],["9d882d4a.45219"],["a87b0ae5.672d48"],[],[],[]],"outputLabels":["registerService","listDevices","listDevicesByType","listDeviceServices","subscribeService","error"]},{"id":"b6ef8abc.ffa978","type":"mysql","z":"369b691a.2b3ae6","mydb":"adb74abd.f99848","name":"Insert","x":750,"y":180,"wires":[[]]},{"id":"8255c636.3682d8","type":"function","z":"369b691a.2b3ae6","name":"registerDevice","func":"msg.topic=\"insert into device \"+\n\"(id,name,type,reg_date) values \"+\n\"('\"+ msg.payload.device_id+\"','\"+\nmsg.payload.device_name+\"',\"+\n\"'\"+ msg.payload.cmd+\"',current_timestamp());\"+\n\"insert into status \"+\n\"(device_id,status,status_time) values \"+\n\"('\"+ msg.payload.device_id+\"',\"+\n\"'registered',\"+\n\"current_timestamp());\";\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":140,"wires":[["b6ef8abc.ffa978"]]},{"id":"14091040.4f085","type":"function","z":"369b691a.2b3ae6","name":"sendError","func":"msg.topic=\"insert into errormessage \"+\n\"(device_id,message) values \"+\n\"('\" + msg.payload.device_id+\"','\" +\nmsg.payload.message+\"')\";\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":220,"wires":[["b6ef8abc.ffa978"]]},{"id":"e3167056.4a00e","type":"function","z":"369b691a.2b3ae6","name":"sendStatus","func":"msg.topic=\"insert into status \"+\n\"(device_id,status,local_time,status_time) values \"+\n\"('\"+ msg.payload.device_id+\"',\"+\n\"'\"+msg.payload.status+\"',\"+\n\"FROM_UNIXTIME(\"+msg.payload.local_time+\"),\"+\n\"current_timestamp());\";\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":260,"wires":[["b6ef8abc.ffa978","61c33bd5.c81f14"]]},{"id":"60429ecf.31507","type":"debug","z":"369b691a.2b3ae6","name":"","active":false,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":920,"y":620,"wires":[]},{"id":"4eef54d2.05987c","type":"http in","z":"1e8fe20d.d0653e","name":"","url":"/hello-json","method":"get","upload":false,"swaggerDoc":"","x":200,"y":160,"wires":[["a4d066c1.891438"]]},{"id":"a4d066c1.891438","type":"template","z":"1e8fe20d.d0653e","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{ \"Hello\": \"World\" }","output":"json","x":370,"y":160,"wires":[["fb379c93.a3ea"]]},{"id":"fb379c93.a3ea","type":"http response","z":"1e8fe20d.d0653e","name":"","statusCode":"","headers":{"content-type":"application/json"},"x":550,"y":160,"wires":[]},{"id":"e035cb01.3c08d8","type":"mqtt in","z":"369b691a.2b3ae6","name":"MQTT input","topic":"/mqtt/iotgw","qos":"1","broker":"b45cf1b9.b90d1","x":130,"y":120,"wires":[["b287bee2.e76ed"]]},{"id":"2c1b0953.74fb66","type":"mqtt out","z":"369b691a.2b3ae6","name":"MQTT reply","topic":"","qos":"1","retain":"false","broker":"b45cf1b9.b90d1","x":890,"y":320,"wires":[]},{"id":"75fdb350.300b1c","type":"change","z":"369b691a.2b3ae6","name":"timestamp","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"date"},{"t":"set","p":"topic","pt":"msg","to":"payload.device_id","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":180,"wires":[["2c1b0953.74fb66"]]},{"id":"930b6b63.292648","type":"catch","z":"369b691a.2b3ae6","name":"","scope":null,"x":700,"y":620,"wires":[["60429ecf.31507"]]},{"id":"9d882d4a.45219","type":"function","z":"369b691a.2b3ae6","name":"listDevices","func":"msg.topic=\"SELECT * FROM device\";\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":400,"wires":[["673e0f7d.66612"]]},{"id":"673e0f7d.66612","type":"mysql","z":"369b691a.2b3ae6","mydb":"adb74abd.f99848","name":"Select","x":750,"y":400,"wires":[["2c1b0953.74fb66"]]},{"id":"a87b0ae5.672d48","type":"function","z":"369b691a.2b3ae6","name":"listDevicesByType","func":"msg.topic=\"SELECT * FROM device where type='\"+\nmsg.payload.device_type + \"'\";\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":440,"wires":[["673e0f7d.66612"]]},{"id":"a5ba34b2.e82428","type":"change","z":"369b691a.2b3ae6","name":"Set flow vars","rules":[{"t":"set","p":"payload.device_id","pt":"flow","to":"payload.device_id","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":140,"wires":[[]]},{"id":"61c33bd5.c81f14","type":"debug","z":"369b691a.2b3ae6","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":920,"y":240,"wires":[]},{"id":"499f7fb3.13ced","type":"debug","z":"369b691a.2b3ae6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":870,"y":520,"wires":[]},{"id":"d1f8dc77.3bf27","type":"function","z":"369b691a.2b3ae6","name":"registerService","func":"msg.topic=\"insert into service \"+\n\"(name,path,num_params,context,device_id,reg_date) values \"+\n\"('\"+ msg.payload.name+\"',\"+\n\"'\"+ msg.payload.path + \"',\"+\n\"'\"+ msg.payload.num_params + \"',\"+\n\"'\"+ msg.payload.context + \"',\"+\n\"'\"+ msg.payload.device_id + \"',\"+\n\"current_timestamp());\";\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":340,"wires":[["b6ef8abc.ffa978"]]},{"id":"4573e4cf.d76a0c","type":"catch","z":"369b691a.2b3ae6","name":"","scope":null,"x":660,"y":520,"wires":[["499f7fb3.13ced"]]},{"id":"db208d21.16de8","type":"inject","z":"83744a98.431d18","name":"","topic":"","payload":"01-01-2019","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":130,"y":120,"wires":[["2968945a.dc137c"]]},{"id":"b202a7d4.fa9648","type":"http request","z":"83744a98.431d18","name":"Post to REE","method":"GET","ret":"txt","url":"https://api.esios.ree.es/indicators/10211?start_date={{inicio}}T00:00:00+02:00&end_date={{final}}T23:50:00+02:00&geo_agg=sum&geo_ids&time_trunc=hour&time_agg&locale=es","tls":"","x":410,"y":340,"wires":[["f4cb836c.dc924"]]},{"id":"f0a1ab33.16c948","type":"function","z":"83744a98.431d18","name":"Incluir Token de Autorización","func":"msg.headers = {\n         \"Authorization\" : \"Token token=\\\"afe01b9805ac0b75a99dc1e4a3aa35e808f54de2f5c8f575ab67c94f9bd1db4d\\\"\"}\n         return msg;","outputs":1,"noerr":0,"x":300,"y":220,"wires":[["b202a7d4.fa9648"]]},{"id":"f4cb836c.dc924","type":"debug","z":"83744a98.431d18","name":"","active":true,"tosidebar":true,"console":false,"complete":"false","x":690,"y":360,"wires":[]},{"id":"2968945a.dc137c","type":"change","z":"83744a98.431d18","name":"","rules":[{"t":"set","p":"inicio","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":318,"y":120,"wires":[["f0a1ab33.16c948"]]},{"id":"e8a069d9.992ed8","type":"switch","z":"369b691a.2b3ae6","name":"Check ID","property":"payload.device_id","propertyType":"msg","rules":[{"t":"nempty"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":120,"y":260,"wires":[["59f2fbd8.ab09f4"],["ec87edc1.4ad3b"]],"inputLabels":["JSON"],"outputLabels":["Next","Stop"]},{"id":"ec87edc1.4ad3b","type":"debug","z":"369b691a.2b3ae6","name":"No device_id","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","x":200,"y":500,"wires":[]},{"id":"25cc2512.96553a","type":"openweathermap in","z":"1e8fe20d.d0653e","name":"Tiempo actual","wtype":"current","lon":"","lat":"","city":"Sevilla","country":"Spain","language":"es","x":170,"y":240,"wires":[["5f32fd51.324db4"]]},{"id":"5f32fd51.324db4","type":"debug","z":"1e8fe20d.d0653e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":480,"y":280,"wires":[]},{"id":"94491c34.073f2","type":"openweathermap in","z":"1e8fe20d.d0653e","name":"Tiempo en 5 dias","wtype":"forecast","lon":"","lat":"","city":"Sevilla","country":"Spain","language":"es","x":160,"y":340,"wires":[["ccfd1eca.77f1f"]]},{"id":"ccfd1eca.77f1f","type":"debug","z":"1e8fe20d.d0653e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":460,"y":360,"wires":[]},{"id":"c68a07fa.d27e48","type":"ui_gauge","z":"cdf1440f.629f38","name":"","group":"c4b10e90.f186","order":0,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{msg.payload}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":670,"y":280,"wires":[]},{"id":"20ac847f.a9c3fc","type":"function","z":"cdf1440f.629f38","name":"","func":"msg.topic=\"select count(*) from device\";\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":80,"wires":[["ceb21160.a1658"]]},{"id":"ceb21160.a1658","type":"mysql","z":"cdf1440f.629f38","mydb":"adb74abd.f99848","name":"","x":470,"y":180,"wires":[["c68a07fa.d27e48","2c9a4cba.f45a74"]]},{"id":"2c9a4cba.f45a74","type":"debug","z":"cdf1440f.629f38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":680,"y":140,"wires":[]},{"id":"603eea48.da98a4","type":"inject","z":"cdf1440f.629f38","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":80,"wires":[["20ac847f.a9c3fc","151a74bc.ad692b"]]},{"id":"151a74bc.ad692b","type":"bucket-write","z":"cdf1440f.629f38","name":"thingerio","bucket":"iot01","server":"e6a4b975.f4a448","x":430,"y":400,"wires":[]},{"id":"488d173c.2a8ee8","type":"catch","z":"cdf1440f.629f38","name":"","scope":null,"x":680,"y":380,"wires":[[]]},{"id":"bfe91da5.66211","type":"inject","z":"cdf1440f.629f38","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":260,"wires":[[]]}]